/* Pagination CSS */
.pagination {
	text-align: left;
	margin: 50px 0 0 0;
	display:block;
    cursor: pointer;
}
.pagination.center {
	text-align: center;
}
.pagination .pagination-list li {
	margin-right: 5px;
	display: inline-block;
}
.pagination .pagination-list li:last-child{
	margin-right:0px;
}
.pagination .pagination-list li a {
	background: #F6F7FB;
	color: #666;
	padding: 6px 18px;
	font-weight: 400;
	border: 1px solid #e1e1e1;
	font-size: 16px;
	border-radius: 4px;
}
.pagination .pagination-list li.active a,.pagination .pagination-list li:hover a{
	background: #02b653;
	color: #fff;
	border-color: transparent;
}
.pagination .pagination-list li a i{
	font-size:15px;
}
.pagination .pagination-list li a i{}
.actualite-grids.pagination{
	margin-top:50px;
	text-align:center;
}

/*








*/